body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

header {
    background-color: #c9d6ff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: blueviolet;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 200px;
    text-align: center;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card p {
    margin: 0;
    color: #333;
}

.product-card button {
    background-color: blueviolet;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.product-card button:hover {
    background-color: darkviolet;
}

footer {
    background-color: #c9d6ff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}